.main-content {
  width: calc(100% - 300px);
  margin-left: auto;
  padding-top: 110px !important;
  padding: 30px;
  min-height: 100vh;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}

.sidebar-toggled + .main .main-content {
  width: 100% !important;
}

.welcome-banner {
  background-image: url("./../../../Images/bg.jpg");
  height: 340px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--whiteColor);
}
.main-content .card-element .card-title {
  font-size: 18px;
  margin: 20px 0 5px !important;
}

.main-content .card-element .card-subtitle {
  font-size: 14px;
}

@media (max-width: 991px) {
  .main-content {
    padding: 25px 15px 60px;
  }
  .welcome-banner {
    height: 200px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .main-content {
    width: 100%;
  }
  .main-content .card-element .icon {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 470px) {
  .main-content .card-element {
    display: flex;
    padding: 15px 25px !important;
    text-align: left;
    align-items: center;
  }

  .main-content .card-element .icon {
    margin-right: 25px;
    margin-top: 0;
  }
  .main-content .col-xs-12 {
    width: 100%;
  }
  .main-content .card-element .card-title {
    margin: 5px 0 !important;
  }
}
